{% extends "main/layout.html" %}
{% load static %}
{% block content %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'main:home'%}">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
      </div>
      <div class="col-lg-6">
        <h2>About Detective Susi</h2>
        <p>무료로 학생부를 분석해드립니다.</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
  <!--   <h2>Our Team</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title">양태성</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">역할 ~ 을 담당</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title">윤종엽</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">역할 ~ 을 담당</p>
          </div>
          <div class="card-footer">
            <a href="#">yeop@cau.ac.kr</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title">김병국</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">역할 ~ 을 담당</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
    </div> -->
    <!-- /.row -->

  </div>
  <!-- /.container -->

  {% endblock %}
