{% load static %}
<html lang="kor">

<head>
    <title>Detective Susi</title>
    
    <!-- meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    

    <!-- Bootstrap CSS 로드-->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->

</head>

<body>
  <!-- 네비게이션 부분 시작 -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'main:home' %}"><img src="{% static 'images/logo.png' %}" alt="logo"> Detective Susi</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
             <span class="navbar-text">
                반갑습니다. <b>{{user.username}}</b>님!　
             </span>

          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/notice">Notice</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMypage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mypage
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMypage">
              <a class="dropdown-item" href="/mypage/?igrade=11">grade edit</a>
              <a class="dropdown-item" href="/result">previous result</a>
            </div>
          </li>
          <li><a class="nav-link" href="{% url 'main:logout' %}">Logout</a></li>
            {% else %}
                      <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign up</a>
          </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
    <!-- 네비게이션 부분 끝 -->
    
    <!-- content 부분 시작 -->
    {% block content %}
    {% endblock %}
    <!-- content 부분 끝 -->
    
    <!-- 푸터 부분 -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"> Copyright © CAU - Detective Susi 2019 All Rights Reserved.</p>
    </div>
  </footer>
    <!-- 푸터 부분 끝 -->

  <!-- Bootstrap core JavaScript 로드-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 
  <!-- index 제외 다른 html 에서 읽지 못함.
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
</body>
</html>