{% extends "main/layout.html" %}
{% load static %}
{% block content %}


  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Mypage</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'main:home' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">Mypage</li>
    </ol>
    Mypage
  </div>
  <!-- /.container -->
  {% if user.is_authenticated %}
  <form method="post">
  {% csrf_token %}
  {{ user_form.as_p }}
  {{ profile_form.as_p }}
  <button type="submit">Save changes</button>
</form>
  {% else %}
  <script type="text/javascript">
    alert('로그인이 필요합니다! \n로그인 화면으로 이동합니다.')
    window.location.href = '/login';
  </script>
{% endif %}
{% endblock %}